<div class="row">
  <div class="col-md-5">
    <h2>All Words</h2>
    <ul class="list-group">
      <li class="list-group-item"
        *ngFor="let contact of contacts"
        (click)="selectContact(contact)"
        [class.active]="contact === selectedContact">
        {{contact.name}}
      </li>
    </ul>
    <button class="btn btn-warning" (click)="createNewContact()">New</button>
    <button class="btn btn-error" (click)="clearAll()">Clear</button>
    <button class="btn btn-success" (click)="nextStep()">Next Step</button>
    <button class="btn btn-info" (click)="openStep(0)">Step 1</button>
    <button class="btn btn-info" (click)="openStep(1)">Step 2</button>
    <button class="btn btn-info" (click)="openStep(2)">Step 3</button>
    <button class="btn btn-info" (click)="openStep(3)">Step 4</button>
    <button class="btn btn-info" (click)="openStep(4)">Step 5</button>
  </div>
  <div class="col-md-5 col-md-offset-2">
    <contact-details
      [contact]="selectedContact"
      [createHandler]="addContact"
      [updateHandler]="updateContact"
      [deleteHandler]="deleteContact">
    </contact-details>
  </div>
</div>
