<div class="row">
  <div class="col-md-10">
    <h2>All Words</h2>
    <ul class="list-group">
      <li class="list-group-item"
          *ngFor="let contact of contacts"
          (click)="selectContact(contact)"
          [class.active]="contact === selectedContact">
        {{contact.name}}
      </li>
    </ul>
    <button class="btn btn-warning" (click)="createNewContact()">New</button>
    <button class="btn btn-error" (click)="clearAll()">Clear</button>
    <br>
    <div>
      <div>
        <br>
        <button class="btn btn-success" (click)="nextStepRicky()">Next Step Ricky</button>
        <button class="btn btn-info" (click)="openStepRicky(0)">Ricky Step 1</button>
        <button class="btn btn-info" (click)="openStepRicky(1)">Ricky Step 2</button>
        <button class="btn btn-info" (click)="openStepRicky(2)">Ricky Step 3</button>
        <button class="btn btn-info" (click)="openStepRicky(3)">Ricky Step 4</button>
        <!--<button class="btn btn-info" (click)="openStepRicky(4)">Ricky Step 5</button>-->
      </div>
      <br>
      <div>
        <button class="btn btn-success" (click)="nextStepSam()">Next Step Sam</button>
        <button class="btn btn-info" (click)="openStepSam(0)">Sam Step 1</button>
        <!--<button class="btn btn-info" (click)="openStepSam(1)">Sam Step 2</button>-->
        <!--<button class="btn btn-info" (click)="openStepSam(2)">Sam Step 3</button>-->
        <!--<button class="btn btn-info" (click)="openStepSam(3)">Sam Step 4</button>-->
        <!--<button class="btn btn-info" (click)="openStepSam(4)">Sam Step 5</button>-->
      </div>
      <br>
      <div>
        <button class="btn btn-success" (click)="nextStepAndrew()">Next Step Andrew</button>
        <button class="btn btn-info" (click)="openStepAndrew(0)">Andrew Step 1</button>
        <button class="btn btn-info" (click)="openStepAndrew(1)">Andrew Step 2</button>
      </div>
      <br>
      <div>
        <button class="btn btn-success" (click)="nextStepVodafone()">Next Step Vodafone</button>
        <button class="btn btn-info" (click)="openStepVodafone(0)">Vodafone Step 1</button>
        <button class="btn btn-info" (click)="openStepVodafone(1)">Vodafone Step 2</button>
      </div>
      <br>
      <button class="btn btn-info" (click)="setLowQuality()">Low Quality</button>
      <button class="btn btn-info" (click)="setHdQuality()">HD Quality</button>

      <button class="btn btn-warning" (click)="showArsenal()">Arsenal Modal</button>
      <button class="btn btn-warning" (click)="showManchester()">Manchester Modal</button>
      <br>
      <br>
      <button class="btn btn-error" (click)="addScoreArsenal()">Arsenal Score Add</button>
      <button class="btn btn-error" (click)="addScoreEvertone()">Evertone Score Add</button>
      <br>
      <br>
      <button class="btn btn-info" (click)="londonLocation()">Set London Location</button>
      <button class="btn btn-info" (click)="romeLocation()">Set Rome Location</button>
      <button class="btn btn-info" (click)="dubaiLocation()">Set Dubai Location</button>
      <button class="btn btn-info" (click)="qatarLocation()">Set Qatar Location</button>
    </div>
  </div>
  <div class="col-md-2 col-md-offset-0">
    <contact-details
      [contact]="selectedContact"
      [createHandler]="addContact"
      [updateHandler]="updateContact"
      [deleteHandler]="deleteContact">
    </contact-details>
  </div>
</div>
